= simple_form_for @page, :url => url do |f|
  = f.input :name
  = f.input :code
  = f.include_kindeditor_if_needed :lang => :zh_CN
  = f.input :priority
  = f.input :position
  .actions
    = f.button :submit, t('admin.actions.add'), :class => 'btn middle success'