.page-header
  %h1
    = t('activerecord.models.' + resource_class.name.downcase)
    %small= t('admin.info.' + resource_class.name.downcase)
.row
  .span16
    %table#sortTableExample.zebra-striped
      %thead
        %tr
          %th.blue= ta Page, :name_zh
          %th.blue= ta Page, :code
          %th.blue= ta Page, :priority
          %th.blue= ta Page, :position
          %th.yellow= t('admin.actions.default')
      %tbody
        - if collection.blank?
          %tr
            %td &nbsp;
            %td{:colspan => 5}= t('admin.meta.empty_data')
        - else
          - collection.each do |resource|
            %tr
              %td= resource.name_zh
              %td= resource.code
              %td= resource.priority
              %td= resource.position_text
              %td
                = link_to t('admin.actions.edit'), edit_resource_path(resource), :class => 'btn'