%table.bordered-table.zebra-striped
  %thead
    %tr
      %th{ :style => 'width: 120px;' } 日期
      %th 计划
      %th 实际情况
      %th 操作
  %tbody
    - if @weekly_reports.blank?
      %tr
        %td{:colspan => 3}= t('admin.meta.empty_data')
    -else
      - @weekly_reports.each do |report|
        %tr
          %td= l report.created_at, :format => :week
          %td= popover_link_to truncate(report.plan, :length => 10), '#', { :'data-content' => report.plan, :'data-original-title' => report.goal }
          %td= report.content
          %td= link_to '修改',edit_report_path(report)