%table.bordered-table.zebra-striped
  %thead
    %tr
      - if current_user.can_manage_reports?
        %th 成员
      %th 日期
      %th 计划
      %th 实际情况
      %th 反馈
      %th 评分
      %th 操作
  %tbody
    - if @reports.blank?
      %tr
        %td{:colspan => 3}= t('admin.meta.empty_data')
    - else
      - @reports.each do |report|
        %tr
          - if current_user.can_manage_reports?
            %td= report.user.try(:name)
          %td= l report.created_at, :format => :time_with_wday
          %td= popover_link_to truncate(report.plan, :length => 10), 'javascript:void(0);', { :'data-content' => report.content, :'data-original-title' => report.plan }
          %td= popover_link_to truncate(report.content, :length => 10), 'javascript:void(0);', {:'data-original-title' => report.content }
          - if report.comment
            %td= popover_link_to truncate(report.comment, :length => 10), 'javascript:void(0);', {:'data-original-title' => report.comment }
          - else
            %td
          %td= report.score
          
          - if current_user.can_manage_reports?
            %td= link_to '修改/评分', edit_report_path(report), :class => 'confirm_link'
          - else 
            %td= link_to '修改',edit_report_path(report)