= render 'layouts/sidebar/dashboard'

.content
  .title
    .header
      %span 我的提醒
  = render 'notifiers'
      
  .title
    .header
      %span 一周日报
    .action
      = link_to '写日报', '#'
  = render 'weekly_reports'
  
  .title
    .header
      %span 本周考勤
  = render 'weekly_check'
  
  .title
    .header
      %span= t('profile.my_posts', :count => current_user.posts_count)
    .action
      = link_to '添加博客文章', '#'
  %ul.posts