- unless @hide_topbar
  .topbar{'data-scrollspy' => 'scrollspy', 'data-dropdown' => 'dropdown'}
    .topbar-inner
      .container
        = link_to image_tag('logo.png', :size => '220x35'), root_path, :class => 'brand'
      
        %ul.nav.main_menu
          = main_nav :home do
            = link_to t('layout.home'), root_path
          = main_nav :products do
            = link_to t('layout.products'), products_path
          = main_nav :blog do
            = link_to t('layout.blog'), blog_path
          - @top_pages.each do |page|
            = main_nav page.code.to_sym do
              = link_to page.name_zh, page_path(page)

        %ul.nav.secondary-nav
          - unless user_signed_in?
            %li= link_to t('layout.sign_in'), new_user_session_path
          - else
            %li= link_to current_user.name, profile_path
              
            %li.dropdown
              = link_to t('layout.account'), '#', :class => 'dropdown-toggle'
              %ul.dropdown-menu
                %li= link_to t('layout.profile_settings'), settings_path
                %li= link_to t('layout.password_settings'), edit_user_registration_path
                %li= link_to t('layout.blog_notifier', :count => 0), '#'
                %li.divider
                %li= link_to t('layout.sign_out'), destroy_user_session_path, :method => :delete
          
            %li.dropdown
              = link_to t('layout.langue'), '#', :class => 'dropdown-toggle'
              %ul.dropdown-menu
                %li= link_to t('layout.english'), '#'
                %li= link_to t('layout.japanese'), '#'
                %li= link_to t('layout.chinese'), '#'
