= render 'layouts/sidebar/dashboard'

.content
  - @events.each do |week, events|
    %table#sortTableExample.zebra-striped
      %thead
        %tr
          %th.blue= '一年中的第' << week.strftime("%U").to_i.to_s << '周'
          %th.blue= ta Event, :user_id
          %th.blue= ta Event, :checkin_at
          %th.blue= ta Event, :checkout_at
          %th.blue= ta Event, :real_work_time
      %tbody
        - if events.blank?
          %tr
            %td &nbsp;
            %td{:colspan => 8}= t('admin.meta.empty_data')
        - else
          - events.each do |resource|
            %tr
              %td= l resource.checkin_at, :format => :time_with_wday
              %td= resource.user.username
              %td= l resource.checkin_at, :format => :time
              %td= l resource.checkout_at, :format => :time if resource.checkout_at
              %td= distance_of_time_in_words(resource.checkin_at, resource.checkout_at, :include_seconds => true) if resource.checkout_at