.page-header
  %h1
    = t('activerecord.models.' + resource_class.name.downcase)
    %small= t('admin.info.' + resource_class.name.downcase)
.well
  = link_to t('admin.actions.back'), collection_path, :class => 'btn large primary'
  = link_to t('admin.actions.edit'), edit_resource_path(resource), :class => 'btn large info'
  
.row
  .span16
    %table.zebra-striped
      %tbody
        %tr
          %td= ta Wiki, :name
          %td= resource.name
        %tr
          %td= ta Wiki, :url
          %td= resource.url
        %tr
          %td= ta Wiki, :priority
          %td= resource.priority
