.page-header
  %h1 
    - if params[:local] == 'en'
      = @page.name_en
      - if @page.content_en?
        = @page.content_en.html_safe
    - if params[:local] == 'zh' || params[:local].blank?
      = @page.name_zh
      - if @page.content_zh?
        = @page.content_zh_html_safe
    - if params[:local] == 'jp'
      = @page.name_jp
      - if @page.content_jp?
        = @page.conteng_jp.html_safe

    