= simple_form_for @post, :url => url do |f|
  = f.input :user_id,:as => :hidden,:input_html => { :value =>current_user.id  }
  = f.input :title
  = f.input :content, :input_html => { :id => 'kindeditor_input' }
  = f.input :permalink
  = f.input :category_id, :as => :select, :collection => Category.all.collect { |x| [x.name, x.id] }, :prompt => true
  = f.input :tag_list
  .actions
    = f.button :submit, :class => 'btn middle success'