.page-header
  %h1
    = t('activerecord.models.' + resource_class.name.downcase)
    %small= t('admin.info.' + resource_class.name.downcase)
.well
  = link_to tt(resource_class.to_s), new_resource_url(),:class => 'btn large primary'
= render 'search'
.row
  .span16
    %table#sortTableExample.zebra-striped
      %thead
        %tr
          %th.blue= ta Post, :auth
          %th.blue= ta Post, :permalink
          %th.blue= ta Post, :category
          %th.blue= ta Post, :title
          %th.blue= ta Post, :content
          %th.blue= ta Post, :tag
          %th.blue= ta Post, :is_top
          %th.blue= ta Post, :comments
          %th.blue= ta Post, :created_at
          %th.yellow= t('admin.actions.default')
      %tbody
        - if collection.blank?
          %tr
            %td &nbsp;
            %td{:colspan => 9}= t('admin.meta.empty_data')
        - else
          - collection.each do |resource|
            %tr
              %td= link_to resource.user.username, admin_user_posts_path(resource.user)
              %td= resource.permalink
              %td= resource.category.name
              %td= resource.title
              %td= resource.content
              %td= resource.tags.map(&:name).join(',')
              %td= resource.is_top
              %td= link_to resource.comments.count, admin_post_comments_path(resource)
              %td= resource.created_at.strftime("%Y-%m-%d %H:%I")
              %td
                = link_to t('admin.actions.show'), resource_path(resource), :class => 'btn'
                = link_to t('admin.actions.comment'), admin_post_comments_path(resource), :class => 'btn'
                = link_to t('admin.actions.edit'), edit_resource_path(resource), :class => 'btn'
                = link_to t('admin.actions.delete'), resource_path(resource), :method => :delete, :confirm => t('admin.meta.confirm'), :class => 'btn danger'
    = paginate collection
