.page-header
  %h1
    = t('activerecord.models.' + resource_class.name.downcase)
    %small= t('admin.info.' + resource_class.name.downcase)
.well
  = link_to t('admin.actions.back'), collection_path, :class => 'btn large primary'
  = link_to t('admin.actions.edit'), edit_resource_path(resource), :class => 'btn large info'
  
.row
  .span16
    %table.zebra-striped
      %tbody
        %tr
          %td= ta Post, :auth
          %td= resource.user.name
        %tr
          %td= ta Post, :title
          %td= resource.title
        %tr
          %td= ta Post, :content
          %td= resource.content
        %tr
          %td= ta Post, :tag
          %td= resource.tags.map(&:name).join(',')
        %tr
          %td= ta Post, :permalink
          %td= resource.permalink
        %tr
          %td= ta Post, :is_top
          %td
            - if resource.is_top?
              Yes
            -else
              No
        %tr
          %td= ta Post, :category
          %td= resource.category.name