= simple_form_for @role, :defaults => { :class => '.form-stacked' }, :url => url  do |f| 
  = f.input :name
  = f.input :code
  = f.input :description
  .actions
    = f.button :submit, t('admin.actions.submit'), :class => 'btn middle success'