= simple_form_for resource, :url => url, :validate => true  do |f| 
  %fieldset
    = f.input :name
    = f.input :code
    = f.input :description, :input_html => { :class => 'xxlarge', :rows => 5 }
    .actions
      = f.button :submit, t('admin.actions.submit'), :class => 'btn middle success'
      = button_tag 'Reset', :type => 'reset', :class => 'btn'