= simple_form_for @report, :url => url do |f|
  = f.input :user_id,:as => :hidden,:input_html => { :value => '1' }
  = f.input :current_date
  = f.input :plan
  = f.input :goal
  = f.input :content, :input_html => { :class => 'mini' }
  = f.input :score
  .actions
    = f.button :submit, t('admin.actions.add'), :class => 'btn middle success'
    <button type="reset" class="btn">Cancel</button>