.well
  = simple_form_for @search, :url => collection_path, :method => :get do |f|
    = f.input :user_id_equals, :as => :select, :collection => User.all.collect { |x| [x.username, x.id] }
    = f.input :current_date_gte, :as => :date
    = f.input :current_date_lte, :as => :date
    
    = f.button :submit, :class => 'btn middle success'