.page-header
  %h1
    = t('activerecord.models.' + resource_class.name.downcase)
    %small= t('admin.info.' + resource_class.name.downcase)
.well
  = link_to tt(resource_class.to_s), new_resource_url, :class => 'btn large primary'
  = paginate collection
.row
  - @all_user.each do |user|
    = link_to user.name, admin_reports_path(:uid=> user.id)
  .span16
    %table#sortTableExample.zebra-striped
      %thead
        %tr
          %th.blue= ta User, :name
          %th.blue= ta Report, :plan
          %th.blue= ta Report, :goal
          %th.blue= ta Report, :content
          %th.blue= ta Report, :datetime
          %th.yellow= t('admin.actions.default')
      %tbody
        - if @reports.blank?
          %tr
            %td &nbsp;
            %td{:colspan => 6}= t('admin.meta.empty_data')
        - else
          - @reports.each do |resource|
            %tr
              %td= resource.user.name
              %td= resource.plan
              %td= resource.goal
              %td= resource.content
              %td= resource.current_date
              %td
                = link_to t('admin.actions.show'), resource_path(resource), :class => 'btn'
                = link_to t('admin.actions.edit'), edit_resource_path(resource), :class => 'btn'
                = link_to t('admin.actions.delete'), resource_path(resource), :method => :delete, :confirm => t('admin.meta.confirm'), :class => 'btn danger'
    = paginate collection