= simple_nested_form_for @ad, :url => url do |f|
  .fieldset
    = f.input :title
    = f.input :url
    = f.input :position, :as => :radio, :collection => Ad.get_position_values
    
    %hr
    - if resource.photos
      - resource.photos.each do |photo|
        = f.simple_fields_for :photos, photo do |p|
          .photo{:style => 'float: left;'}
            = label_tag ''
            = image_tag(photo.photo.small) if photo.photo?
            %br/
            = label_tag ''
            = p.link_to_remove t('admin.meta.delete_the_image_below')
    %fieldset
      = f.simple_fields_for :photos, resource.photos.build do |p|
        = p.input :photo, :as => :file
      = f.link_to_add t('admin.meta.add_photo'), :photos, :class => 'btn info add_more'
    
    .actions
      = f.button :submit, t('admin.actions.add'), :class => 'btn middle success'