= simple_form_for resource, :url => url, :validate => true  do |f|
  .fieldset
    = f.input :title, :input_html => { :class => 'xlarge' }
    = f.input :permalink, :input_html => { :class => 'xlarge' }
    = f.input :category_id, :as => :select, :collection => Category.all.collect { |x| [x.name, x.id] }, :prompt => false
    = f.input :content, :label => false, :input_html => { :id => 'kindeditor_input' }
    = f.input :tag_list, :input_html => { :class => 'xlarge' }
    
    .actions
      = f.button :submit, :class => 'btn middle success'