= render 'layouts/sidebar/blog'

.content
  .page-header
    %h3 Playab Blog: Technology, Design, Business
  
  #posts
    - if collection.blank?
      = t('admin.meta.empty_data')
    - else
      - collection.each_with_index do |resource, index|
        .post_summary{ :class => (index == 0) ? 'post_feature' : 'row' }
          %h3.blog_title= link_to resource.title, post_path(resource)
          %p.meta
            %span.author
              By
              = link_to resource.user.try(:name), '#' 
            %span.date= l resource.created_at, :format => :long
            %span.tags
              - resource.tags.each do |tag|
                = link_to tag.name, '#'
          .body= raw resource.content