.sidebar.blog
  .box
    %h3 RSS订阅
  .box
    %h3 按月份归档
    %ul.archives
      %li= link_to '2012年1月 (6篇)', '#'
      %li= link_to '2012年2月 (6篇)', '#'
      %li= link_to '2012年3月 (6篇)', '#'
      %li= link_to '2012年4月 (6篇)', '#'
      %li= link_to '2012年5月 (6篇)', '#'
      %li= link_to '2012年6月 (6篇)', '#'
      %li= link_to '2012年7月 (6篇)', '#'
  
  .box
    %h3 按分类归档
    %ul.categories
      %li= link_to '团队故事 (6篇)', '#'
      %li= link_to '公司新闻 (10篇)', '#'
      %li= link_to '技术交流 (20篇)', '#'