.sidebar
  .box
    .user_info
      .avatar= gravatar_tag current_user.email, :size => 60
      %h3.name= link_to current_user.name, profile_path
      %p= current_user.position
    
    .mood
      .date
        %span.week= I18n.localize(Time.zone.now, :format => :week)
        %span.day= Time.zone.now.day
      .time
        %span#timespan
        
    .check
      - if current_user.already_checked_in?
        %span.btn.success.disabled
          签到
      - else
        = link_to '签到', checkin_path, :class => "btn success", :method => :put
      = link_to '下班', checkout_path, :class => "btn success", :method => :put
      
  .box
    %ul.dashboard
      %li= menu_link_to '添加博客', new_post_path
      %li= menu_link_to '添加日报', new_report_path