= simple_form_for @user, :defaults => { :class => '.form-stacked' }, :url => url  do |f| 

  = f.input :id, :as => :hidden,:input_html => { :value => '1' }
  = f.input :username, :input_html => { :class => 'small' }
  = f.input :name
  = f.input :phone
  = f.input :birthdate, :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year - 12, :discard_day => true, :order => [:year, :month], :input_html => { :class => 'small' }
  = f.input :gender
  = f.input :bio
  = f.input :email
  = f.input :is_admin

  .actions
    = f.button :submit, t('admin.actions.add'), :class => 'btn middle success'