= simple_form_for resource, :url => url  do |f|
  .fieldset
    = f.input :email
    = f.input :username
    = f.input :password
    = f.input :password_confirmaiton
    = f.input :name
    = f.input :phone
    = f.input :birthdate, :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year - 12, :order => [:year, :month, :day], :input_html => { :class => 'small' }
    = f.input :gender, :as => :radio, :collection => User.get_gender_values
    = f.input :position
    = f.input :bio, :input_html => { :class => 'xxlarge', :rows => 5 }
    = f.association :roles, :as => :check_boxes, :collection => Role.all.collect { |x| [x.name, x.id] }

    .actions
      = f.button :submit, t('admin.actions.add'), :class => 'btn middle success'
      = button_tag 'Reset', :type => 'reset', :class => 'btn'