.topbar{'data-scrollspy' => 'scrollspy'}
  .topbar-inner
    .container
      = link_to 'Playable', admin_users_path, :class => 'brand'
      - if user_signed_in?
        %ul
          = main_nav :users do
            = link_to t('admin.label.users'), admin_users_path

          = main_nav :authorize, { :class => 'dropdown', 'data-dropdown' => 'dropdown' } do
            = link_to t('admin.label.authorize'), '#', :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li= link_to t('admin.label.groups'), admin_groups_path
              %li= link_to t('admin.label.roles'), admin_roles_path
          = main_nav :reports do
            = link_to t('admin.label.reports'), admin_reports_path
          = main_nav :marks do
            = link_to t('admin.label.marks'), admin_marks_path

      %ul.nav.secondary-nav
        %li.dropdown
          %li= link_to t('admin.label.signout'), destroy_user_session_path, :method => :delete
