.topbar{'data-scrollspy' => 'scrollspy', 'data-dropdown' => 'dropdown'}
  .topbar-inner
    .container
      = link_to 'Playable', root_path, :class => 'brand', :target => "_blank"
      - if user_signed_in?
        %ul
          = main_nav :users do
            = link_to t('admin.label.users'), admin_users_path
          = main_nav :roles do
            = link_to t('admin.label.roles'), admin_roles_path
          = main_nav :reports do
            = link_to t('admin.label.reports'), admin_reports_path
          = main_nav :events do
            = link_to t('admin.label.events'), admin_events_path
          = main_nav :pages do
            = link_to t('admin.label.pages'), admin_pages_path 
          = main_nav :products do
            = link_to t('admin.label.products'), admin_products_path
          %li.dropdown
            = link_to t('admin.label.posts'), '#', :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li= link_to t('admin.label.posts_manager'), admin_posts_path
              %li= link_to t('admin.label.categories'), admin_categories_path


      %ul.nav.secondary-nav
        %li.dropdown
          %li= link_to t('admin.label.signout'), destroy_user_session_path, :method => :delete
