= simple_form_for resource, :url => url do |f|
  = f.input :plan, :as => :string
  = f.input :goal, :as => :string
  = f.input :content, :input_html => { :style => 'width:200px;height:120px' }
  .actions
    = f.button :submit, t('admin.actions.add'), :class => 'btn middle success'