!!! 5
%html
  %head
    = include_kindeditor_if_needed
    %title Plable management
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    
    = csrf_meta_tags
    = yield :head
    
  %body
    - if params[:controller].start_with?('admin')
      = render 'admin/shared/topbar'
    - else
      = render 'shared/topbar'
    
    .container
      %section
        = render 'shared/messages'
        = yield
    
    = render 'shared/footer'